body{
    background-color: #fff;
}

#search_b{
    margin-left: 20px;
    border-radius: 35px;
    margin-top: 4px;
}
#mains{
    display:flex ;
     justify-content:center;
     min-height: 50vh;
}
#cont{
    width: 400px;
    /* align-items: center; */
    /* display: flex; */
    justify-content: center;
    background: linear-gradient(#3E2D8F, #8E78C8);
    border: none;
    border-radius: 10px;
    
}